<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capstone_Project_598.Properties.Settings.cmfunk15ConnectionString"
            connectionString="Data Source=mssql.cs.ksu.edu;Initial Catalog=cmfunk15;Persist Security Info=True;User ID=cmfunk15;Password=Tiefel544"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>